{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'output.css' %}" />
  </head>
  <body class="bg-gradient-to-l from-blue-400 to-green-100 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md text-center mt-7">
      <h1 class="text-3xl font-bold text-blue-600 mb-4">
        Consulta de Empleados
      </h1>

      <!--Formulario de busqueda-->

      <form method="get" class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
        <input
          type="text"
          name="nombre"
          value="{{ nombre }}"
          placeholder="Nombre"
          class="p-2 border border-gray-300 rounded w-full"
        />
        <input
          type="text"
          name="apellido"
          value="{{ apellido }}"
          placeholder="Apellido"
          class="p-2 border border-gray-300 rounded w-full"
        />
        <div class="md:col-span-2 text-center">
          <button
            type="submit"
            class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition duration-200"
          >
            Buscar
          </button>
          <a
            href="."
            class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition duration-200"
          >
            Volver a cargar todos
          </a>
        </div>
      </form>

      <!--Tabla de resultados-->
      <div class="overflow-y-auto max-h-custom shadow-md ">
        <table class="min-w-full border border-gray-300 text-left">
          <thead class="bg-blue-600 text-white sticky-top-0">
            <tr>
              <th class="px-6 py-3 border-b">Nombre</th>
              <th class="px-6 py-3 border-b">Apellido</th>
              <th class="px-6 py-3 border-b">Salario</th>
              <th class="px-6 py-3 border-b">Email</th>
            </tr>
          </thead>
          <tbody>
            {% for empleado in empleados %}
            <tr class="hover:bg-gray-100">
              <td class="px-6 py-3 border-b">{{ empleado.nombre }}</td>
              <td class="px-6 py-3 border-b">{{ empleado.apellido }}</td>
              <td class="px-6 py-3 border-b">RD {{ empleado.salario|intcomma }}</td>
              <td class="px-6 py-3 border-b">{{ empleado.email }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4" class="px-6 py-4 text-center text-gray-500">
                No se encontraron Empleados.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
