<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SOF-108{% endblock %}</title>
</head>
<body>
    {% block content %}
    <h1>Bienvenido a SOF-108</h1>
    <p>Esta es una aplicación para mostrar una tabla de Consulta de Empleados.</p>
    {% endblock %}
    <h2>Empleados</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Salario</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
      <tr>
        <td>{{ empleado.NOMBRE }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.salario }}</td>
        <td>{{ empleado.email }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="4">No hay empleados para mostrar</td></tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>

